/* style menu button */
#menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 28px;
    cursor: pointer;
    z-index: 10000;
}

/* style each menu line */
#menu-button .line {
    width: 100%;
    height: 4px;
    background-color: #d97be9;
    margin: 5px 0;
    border-radius: 3px;
}

/* set style standard for entire story */
body {
	width: 90%;
	font-family:'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    font-family: "Arial Narrow", "Franklin Gothic Medium", Arial, sans-serif;
    /* add equal padding on all sides */
    padding: 100px;
    padding-left: 100px;
    padding-bottom: 40px;
    display: block;
    /* make sure adapt to computer and phone */
    max-width: 1200px; 
    margin: 0 auto;
}

/* style table of contents */
#toc {
    width: 60px;
    padding-top: 80px;
    background-color: #111;
    border-right: 2px solid #d97be9;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 9999;
}

/* style table of contents when cursor hovers over it to expand*/
#toc:hover {
    width: 150px;
    /* full width when open */
}

#toc:hover h2 {
    opacity: 1;
}

/* style table of contents pages */
#toc ul {
    list-style: none;
    padding-left: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* style table of contents pages when hovered over */
#toc:hover ul {
    opacity: 1;
}

/* style table of contents pages text*/
#toc a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.4;
}

/* style table of contents pages text when hovered over*/
#toc a:hover {
    color: #d97be9;
    font-size: 18px;
    line-height: 1.4;
}

/* style About Me picture*/
#AboutMe {
    width: 40%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

/* style About Me caption*/
#AboutMeCaption {
    font-size: 10px;
    text-align: center;
}

/* style About Me page text*/
.about-page #content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

/* style About Me page text*/
.about-page #story {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 1.1rem;
}

/* style content for all pages */
#content {
    padding-bottom: 20px;
    width: 100%;
}

#upcoming
{
    padding-bottom: 20px;
    width: 100%;
    h1 {
        color: #f65026;
    }
}

/* style page 3 storymap*/
.storymap-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

/* style page 3 storymap multimedia elements*/
.storymap-wrapper iframe {
    width: 100%;
    height: 800px;
    display: block;
}

/* make header large text */
h1 {
    font-size: bold 3rem;
    color: #d97be9;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#story {
	line-height: 1em;
    color: white;
}

#story p {
    margin-bottom: 1em;
}

/* add progress bar */
#progress-bar {
    position: fixed;
    right: 20px;
    top: 50px;
    width: 8px;
    height: 0;
    /* make progress bar increase color as user scrolls */
    background-color: #d97be9;
    z-index: 9999;
    border-radius: 10px
}


/*PAGE 2: SCROLLAMA STYLE */

html,
body {
        margin: 0;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	    margin: 0 auto;
        background-color: black;
        color: white;
        font-family: "Arial Narrow", "Franklin Gothic Medium", Arial, sans-serif;
        /* equal padding on all sides */
        padding: 100px;
        padding-left: 60px;
        padding-bottom: 40px;
        min-height: 1280px;
        font-weight: 300;
        max-width: 1200px;
        width: 90%;
    }

        p,
        h1,
        h2,
        h3,
        h4,
        a {
            margin: 0;
            font-weight: 300;
        }
        /*style scrollama link*/
        a,
        a:visited,
        a:hover {
            color: white;
            text-decoration: none;
            border-bottom: 1px solid currentColor;
        }

        #intro {
            max-width: 40rem;
            margin: 1rem auto 320px auto;
            text-align: center;
        }

        .intro_overline {
            font-size: 0.8rem;
        }

        .story_title {
            font-size: 30px;
            font-weight: 700;
            text-decoration: underline;
            line-height: 1.25;
            margin-bottom: 0.75rem;
        }

        .story_date {
            font-size: 8px;
            font-weight: 300;
            opacity: 0.8;
            margin-bottom: 0.5rem;
        }

        .story_caption {
            font-size: 0.3rem;
            /* smallest */
            font-weight: 300;
            opacity: 0.75;
            margin-top: 0.5rem;
        }

        .story_description {
            font-size: 1.1rem;
            /* second largest */
            font-weight: 300;
            line-height: 1.45;
            margin-bottom: 0.75rem;
        }

        #intro {
            margin-bottom: 320px;
        }

        #outro {
            height: 1200px;
        }

        #scroll {
            position: relative;
            display: flex;
        }

        /*style image box on right*/
        figure {
            position: sticky;
            width: 100%;
            top: 0;
            background-color: #ddd;
            border: 1px solid #d97be9;
            overflow: visible;
        }

        /* style scrollytelly multimedia figure elements on right*/
        #scrolly-figure img,
        #scrolly-figure video,
        #scrolly-figure iframe {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            display: block;
            background: #000;
        }
        /*style image box on right*/
        .scrolly-img {
            display: block;
            /* fill in image gaps with borders */
            background: #000;
            border: #d97be9;
        }

        #scrolly-figure {
            width: 100%;
            aspect-ratio: 3/2;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        .media-box {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: #000;
        }

        .scrolly-media {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }

        article {
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
        }

        
        .step {
            margin: 0 auto 2rem auto;
            border: 1px solid #333;
            border-radius: 8px;
            background-color: #000;
            padding: 1.5rem;
            width: 100%;
            box-sizing: border-box;
            min-height: 860px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
           

        .step:last-child {
            border-bottom: 1px solid #333;
        }

        /*style active box currently on to be different color*/
        .step.is-active {
            background-color: black;
            border: 2px solid #d97be9;
        }

        .step p {
            text-align: left;
            padding: 0.5rem 0;
            margin: 0;
            font-size: 1.5rem;
        }


/* if user is in portrait mode (using a phone), override the orginal styling to adjust the story and image size */
@media (orientation: portrait) {
	body {
			Width: 100%;
			Font-size: 2em;
			/* add padding for mobile too */
			padding: 20px;
            padding-left: 100px;
	}
}

